.img_pete{
    

}
.bio{
    font-size: large;
}

.background{
   background-image:  url('../images/analytics.jpg');
   background-size: auto;
   

}

h1{
    padding-left: .25em;
    text-align: center;

}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}