.img_pete{
   padding: 10px;
   padding-right: 10px;

}
.bio{
    font-size: large;
}

.background{
   background-image:  url('../images/analytics.jpg');
   background-attachment: fixed;

}

h1{
    padding-left: .25em;
    text-align: center;

}